Repository SwanseaUniversityMedical/workflows, pull requests merged in 2024-06, with the labels that each got.

#108 feat: add renovate to new CI as an optional step
  .github/renovate.js
  .github/workflows/renovate.yaml
Labels: enhancement

#167 chore(deps): update sigstore/cosign-installer action to v3.5.0
  .github/actions/pr-chart/action.yaml
  .github/actions/pr-container/action.yaml
  .github/actions/release-chart/action.yaml
  .github/actions/release-container/action.yaml
  .github/workflows/release-containers-workflow.yaml
Labels: patch: charts, patch: containers

#168 fix: helm version and no token needed to install
  .github/actions/pr-chart/action.yaml
  .github/actions/release-chart/action.yaml
Labels: patch: charts
