Repository SwanseaUniversityMedical/workflows, pull requests merged in 2025-03, with the labels that each got.

#233 chore: bulk release actions bump
  .github/workflows/workflows-release-bulk-release-chart-action.yaml
  .github/workflows/workflows-release-bulk-release-container-action.yaml
Labels: patch: bulk-release-container-action, patch: bulk-release-chart-action

#234 chore(deps): update swanseauniversitymedical/workflows action to v1.0.2
  .github/actions/bulk-pr-and-release-chart/action.yaml
  .github/actions/bulk-pr-and-release-container/action.yaml
Labels: patch: bulk-pr-and-release-container-action, patch: bulk-pr-and-release-chart-action

#225 feat: add retries to the sonar workflows
  .github/actions/sonar-dotnet-7/action.yaml
  .github/actions/sonar-dotnet-8/action.yaml
Labels: minor: sonar-dotnet-8-action, minor: sonar-dotnet-7-action

#237 fix: pr-and-release-repo output using wrong step name
  .github/actions/pr-and-release-repo/action.yaml
Labels: patch: pr-and-release-repo-action

#244 ci: trigger release
  .github/workflows/workflows-release-pr-lint-action.yaml
Labels: patch: pr-lint-action
